fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
asyncpg==0.29.0
alembic
python-dotenv
beautifulsoup4
requests
pypdf
httpx
pgvector
redis
email-validator
python-jose[cryptography]
passlib[bcrypt]
openai
python-multipart
sentence-transformers
